
.App {
  text-align: center;
  width: 540px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  padding-bottom: 32px;
 
}
h2{
  margin: 32px 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
.input-section{
  display: flex;
  flex-direction: row;
  
  justify-content: flex-start;

}

.todo-input{
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(208, 62, 62);
  outline: none;
  width: 50%;
  background: rgb(111, 107, 107);
  color: black;
  height: 15px;
    border: none;
    box-shadow: 5px 5px 5px;
}
.todo-input::placeholder {
  color: black;
}
.add-btn{
  
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: gray;
  color: azure;
  text-transform: capitalize;
  height: 43px;
    padding: revert;
    box-shadow: 5px 5px 5px black;
}

.check-btn{
  background: bottom;
  border: none;
}

.completed{
  text-decoration: line-through;
  display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
    
    
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px;
    height: 40px;
    padding: 5px;
}
form{
  border: 2px solid black;
  width: 320px;
  padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(249, 20, 20);
    outline: none;
    display: flex;
    justify-content: space-between;
    
}

.todo-list{
  display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
    
    
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px;
    height: 40px;
    padding: 5px;
}

.search-input{
  width: 90px;
    height: 41px;
    border-radius: 5px 5px 5px;
    border: none;
    margin-left: 5px;
    box-shadow: 3px 3px 3px;
}
.signin-page{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  width: 60%;
    margin: 100px auto;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.gmail{
  width: 300px;
  margin: auto;
  border-radius: 5px;
    box-shadow: 3px 3px 3px;
    border-style: none;
    height: 20px;
}
.password{
  width: 300px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
    box-shadow: 3px 3px 3px;
    border-style: none;
    height: 20px;
}
.Signin-btn{
  width: 100px;
  margin-left: 116px;
  margin-top: 10px;
  border-radius: 5px;
    box-shadow: 3px 3px 3px;
    border-style: none;
    height: 20px;
}
.signin-cantainer{
  display: flex;
    flex-direction: column;
    text-align: initial;
    margin-left: 10px;
}

.todo-box{
  
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
    width: 80%;
      margin: 100px auto;
      height: 500px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px;
}
